@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200&display=swap');

:root {
    --primary: #ffcc00;
    --secundary: #212121;
    --accent-1: #DDDDDD;
    --accent-2: #333333;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
}

.contenedor{
    padding: 60px 0;
}

.container-menu > ul{
    list-style: none;
}

.menú{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    position: relative;
    align-items: center;
    padding: 60px 0;    
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    position: relative;
    height: 90vh;
    
}
    

.cards{
    margin: 0 !important;
    width: 80% !important;
    max-width: 1200px !important;
    position: absolute;
    top: 60px;  
    overflow: hidden;
    

}

ul{
    padding: 30px 60px;
}

.title{
    margin-top: 20px;
}

span{
    display: inline-block;  
    text-align: right;
    
}







